@import 'src/assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
}
